* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #f4f6f8;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: url("bgjpeg.jpeg");
}

header, footer {
    background: #2c3e50;
    color: white;
    padding: 1rem;
    text-align: center;
}
footer {
    margin-top: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.box {
    background: #ced7e6;
    padding: 1rem;
    border-radius: 6px;
}

.task-input,
.note-form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

input {
    flex: 1;
    padding: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.task-list li,
.notes-list li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.delete {
    background: #92261a;
    color: white;
    border: none;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}
